@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%, 58%);
    --white: hsl(0, 0%, 100%);   
}

body {
    background-color: var(--blue-700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14rem 0;
}



/* Index page */
main {
    width: 58rem;
    height: 40rem;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    background: var(--white);
    border-radius: 40px;
    padding: 1.5rem;
}

.mobile-image {
    display: none;
}

.left-section {   
    display: flex;
    flex-direction: column;
    gap: 1.5rem;     
    width: 50%;
    padding: 0 2.1rem;
}

.left-section h1 {
    color: var(--blue-800);
    font-weight: 700;
    font-size: 3.5rem;   
}

.left-section p {
    color: var(--blue-800);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    
}

.left-section ul {
    list-style-type: none;
}

.left-section ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--blue-800);
    font-weight: 400;
    font-size: 1rem;  
    margin-bottom: 1rem;
}

.right-section img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container .label-error-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input-container .label-error-container label {
    color: var(--blue-800);
    font-weight: 700;
    font-size: 0.75rem;
}

.input-container .label-error-container .error-message {
    color: var(--red);
    font-weight: 700;
    font-size: 0.75rem;
    display: none;
}

.input-container input {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.input-container input::placeholder {
    color: var(--grey);
    font-weight: 400;
    font-size: 1rem;
}

.input-container button {
    width: 100%;
    padding: 1.2rem 0;
    border-radius: 10px;
    border: none;
    background-color: var(--blue-800);
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.input-container button:hover {
    background: linear-gradient(to right, hsl(348, 98%, 66%), 	hsl(13, 99%, 62%));    
}




/*Success page*/
.success-section {
    margin-top: 4rem;
    width: 32rem;
    height: 33rem;
    background: var(--white);
    border-radius: 40px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;    
}

.success-section h1 {
    color: var(--blue-800);
    font-weight: 700;
    font-size: 3.5rem;  
    line-height: 1; 
    margin-top: 1rem;
}

.success-section p {
    color: var(--blue-800);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;   
}

.success-section span {
    font-weight: 700;  
}
.success-section a {
    width: 100%;
    padding: 1.2rem 0;
    border-radius: 10px;
    border: none;
    background-color: var(--blue-800);
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
}

.success-section a:hover {
    background: linear-gradient(to right, hsl(348, 98%, 66%), 	hsl(13, 99%, 62%));  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
}





/* Responsive Design */
@media screen and (max-width: 600px) {
    body {
        padding: 0;
        background: var(--white);
    }
    main {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .left-section {
        width: 100%;
        padding: 1.5rem;
    }

    .right-section  {
        display: none;
    }
    .mobile-image {
        display: block;
        width: 100%;
        height: 100%;
    }
    .left-section h1 {
       font-size: 2.5rem; 
       margin-top: 1rem;  
    }
    .left-section p {
        font-size: 0.92rem;
        line-height: 1.5rem;
    }
    .left-section ul li {       
        align-items: flex-start;        
        font-size: 0.92rem; 
        line-height: 1.2rem;        
    }
    .input-container button {
        font-size: 0.92rem;
        margin-bottom: 1rem;
    }


    .success-section {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        padding-top: 6rem;
        
    }
    .success-section h1 {
        font-size: 2.5rem; 
        margin-top: 1rem;  
     }
    .success-section p {
        font-size: 0.92rem;
        line-height: 1.5rem;
        margin-bottom: 16rem;
    }
    .success-section a {
        font-size: 0.92rem;
    }
}    